<strategys>
    <node>
        <strategy>
            <indexName>cpuUsage</indexName>
            <status>true</status>
            <description>node cpu usage!</description>
        </strategy>
        <strategy>
            <indexName>memUsage</indexName>
            <status>true</status>
            <description>node memory usage!</description>
        </strategy>
    </node>

    <service>
        <strategy>
            <indexName>requestConnections</indexName>
            <status>true</status>
            <description>service response time!</description>
        </strategy>
    </service>


    <cluster>

    </cluster>


</strategys>

