<?xml version="1.0" encoding="UTF-8" standalone="no"?>

<rules>

    <times>

        <index>

            <time>00:00:00</time>
            <onlineService>
                <num>8</num>
            </onlineService>

            <offlineService>
                <num>2</num>
            </offlineService>

        </index>

        <index>

            <time>02:00:00</time>
            <onlineService>
                <num>2</num>
            </onlineService>

            <offlineService>
                <num>8</num>
            </offlineService>

        </index>

        <index>

            <time>04:00:00</time>
            <onlineService>
                <num>8</num>
            </onlineService>

            <offlineService>
                <num>2</num>
            </offlineService>

        </index>

        <index>

            <time>06:00:00</time>
            <onlineService>
                <num>2</num>
            </onlineService>

            <offlineService>
                <num>8</num>
            </offlineService>

        </index>

        <index>

            <time>08:00:00</time>
            <onlineService>
                <num>8</num>
            </onlineService>

            <offlineService>
                <num>2</num>
            </offlineService>

        </index>

        <index>

            <time>10:00:00</time>
            <onlineService>
                <num>2</num>
            </onlineService>

            <offlineService>
                <num>8</num>
            </offlineService>

        </index>

        <index>

            <time>12:00:00</time>
            <onlineService>
                <num>8</num>
            </onlineService>

            <offlineService>
                <num>2</num>
            </offlineService>

        </index>

        <index>

            <time>14:00:00</time>
            <onlineService>
                <num>8</num>
            </onlineService>

            <offlineService>
                <num>2</num>
            </offlineService>

        </index>

        <index>

            <time>16:00:00</time>
            <onlineService>
                <num>2</num>
            </onlineService>

            <offlineService>
                <num>8</num>
            </offlineService>

        </index>

        <index>

            <time>18:00:00</time>
            <onlineService>
                <num>8</num>
            </onlineService>

            <offlineService>
                <num>2</num>
            </offlineService>

        </index>

        <index>

            <time>20:00:00</time>
            <onlineService>
                <num>2</num>
            </onlineService>

            <offlineService>
                <num>8</num>
            </offlineService>

        </index>

        <index>

            <time>22:00:00</time>
            <onlineService>
                <num>8</num>
            </onlineService>

            <offlineService>
                <num>2</num>
            </offlineService>

        </index>

    </times>

    <onlineService>
        <index>
            <name>
                wordpress-wp
            </name>
            <namespace>
                wordpress
            </namespace>
        </index>

    </onlineService>

    <offlineService>
        <index>
            <name>
                hadoop-datanode
            </name>
            <namespace>
                hadoop
            </namespace>
        </index>
    </offlineService>

    <temp>

    </temp>

</rules>